<!doctype html>
<html>
  <head>
    <style>
      body {
        background: #555;
      }
      
      .content {
        max-width: 1000px;
        margin: auto;
        background: white;
        padding: 5px;
        text-align: center;
        font-size: 15px;
      }
    </style>
    <title>{{ tabtitle }}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap5.css">
  </head>
  <body>
    <header>
      <h1 style="font-family: 'Courier New', Courier, monospace ; font-size:4em;text-align: center; padding: 20px 20px 20px 20px;background-color:#D3D8DC">My Website</h1>
    <div class="row">
      <ul style="text-align: center;">
        {% for href, caption in [('/', 'Home'),('/login', 'Login'),
                                 ('/logout', 'Logout')] %}
            <a class="navigation-link" href="{{ href }}" style="color: black; font-size: 25px; padding: 55px;">{{ caption }}</a>
        {% endfor %}
      </ul>
    </div>
      <hr>
    </header>
    <div class="content">
      <h2>{{ title }}</h2>
      <hr>
      {% block content %}
      {% endblock %}
    </div>
    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap5.js"></script>
    {% block scripts %}{% endblock %}
  </body>
</html>
